<ion-header>
  <ion-navbar>
    <ion-title>
      {{autonomy.CCAA}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let province of provinces" [navPush]="'ProvincePage'" [navParams]="{ province: province }">{{province.Provincia}}</ion-item>
</ion-content>
