<ion-header>
  <ion-navbar>
    <ion-title>
      {{province.Provincia}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let municipality of municipalities" [navPush]="'MunicipalityPage'" [navParams]="{ municipality: municipality }">{{municipality.Municipio}}</ion-item>
</ion-content>
