<ion-header>
  <ion-navbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let autonomy of autonomies" [navPush]="'AutonomyPage'" [navParams]="{ autonomy: autonomy }">{{autonomy.CCAA}}</ion-item>
</ion-content>
