<ion-header>
  <ion-navbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>{{user.name}}</h2>
  <p>{{user.email}}</p>
  <button ion-button block outline (click)="logout()">Desconectar</button>
</ion-content>
