<ion-header>
  <ion-navbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #item *ngFor="let station of favorites">
      <ion-item> {{station['Rótulo']}} ({{station['Municipio']}}) a {{calcDistance(station)}} km</ion-item>
      <ion-item-options>
        <button ion-button (click)="share(station)">
          <ion-icon name="share"></ion-icon>
          Compartir
        </button>
        <button ion-button color="danger" (click)="remove(station)">
          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
